<!doctype html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
	<meta name="description" content="   ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Framework Demo</title>
  <script src="{% static "personal_site/jquery-2.1.0.js" %}"></script>
  <link rel="stylesheet" href="{% static "personal_site/frames.css" %}" />
  <link rel="stylesheet" href="{% static "personal_site/demo.css" %}" />
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>
<body id="top">
<div class="nav-fixed-left">

<ul>
  <h5>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/projects/">Projects</a> </li>
    <li> <a href="/polls/">Django Tutorial</a> </li>
  </h5>
</ul>

</div>

  <div class="container">
     <div class="nav-fixed">
<ul>
	<button id="home"><li>Home</li></button>

  {% if sections %}
 
    {% for sec in sections %}
        <button id="{{ sec.id2 }}Button"><li>{{ sec.title }}</li></button>
    {% endfor %}

{% else %}
    <p>No sections are available.</p>
{% endif %}

</ul>


</div>




<div class="container">
    <script>


    $("#home").click(function() {
      $('html, body').animate({
    scrollTop: $("#top").offset().top
      }, 1000);
    }); 

      {% if sections %}
     
        {% for sec in sections %}
      $( "#{{ sec.id2 }}Button").click(function() {
      $('html, body').animate({
    scrollTop: $("#{{ sec.id2 }}").offset().top - 25
      }, 1000);
    }); 
        {% endfor %}

    {% else %}
        <p>No sections are available.</p>
    {% endif %}




    </script>




      {% if title %}
     
        {% for sec in title %}
          <div id="{{ sec.id2 }}" class="container">
 

            <h1><div id="myName" class="title">{{sec.title}}</div><span class="subtitle">{{ sec.sub_title }}</span></h1> 
          </div>
        {% endfor %}

    {% else %}
        <p>No title is available.</p>
    {% endif %}


  


      {% if sections %}
     
        {% for sec in sections %}
          <div id="{{ sec.id2 }}" class="container">
            <h1>{{ sec.title }}</h1>
            <div class="grid_5-box">{{ sec.main_body }}</div>
          </div>
        {% endfor %}

    {% else %}
        <p>No sections are available.</p>
    {% endif %}



</div>
</div>
</body>
</html>
