<!doctype html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="   ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static "personal_site/jquery-2.1.0.js" %}"></script>
  <link rel="stylesheet" href="{% static "personal_site/frames.css" %}" />
  <link rel="stylesheet" href="{% static "personal_site/demo.css" %}" />

</head>
<body id='top'>

<div class="nav-fixed-left">

<ul>
  <h5>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/projects/">Projects</a> </li>
    <li> <a href="/polls/">Django Tutorial</a> </li>
  </h5>
</ul>

</div>


<div class="container">


<div class='nav-fixed'>
<ul>
  <button id="home"><li>{{project.title}}</li></button>


  {% if project %}


    {% for sec in project.projectsection_set.all %}
        <button id="{{ sec.id2 }}Button"><li>{{ sec.section_title }}</li></button>
    {% endfor %}

{% else %}
    <p>No project is available.</p>
{% endif %}

</ul>
</div>



</div>
<div class='container'>
<div class='container'>
  {% if project %}

  <div class='container'>
    
    <h1><div class='title'>{{project.title}}</div></h1>

    <p class='subtitle'>Source: <a href="{{project.url}}" target="blank">{{project.url}}</a></p>
    
    </div>
{% else %}
    <p>No project is available.</p>
{% endif %}


  <script>


    $("#home").click(function() {
      $('html, body').animate({
    scrollTop: $("#top").offset().top
      }, 1000);
    }); 

      {% if project %}
     
        {% for sec in project.projectsection_set.all %}
      $( "#{{ sec.id2 }}Button").click(function() {
      $('html, body').animate({
    scrollTop: $("#{{ sec.id2 }}").offset().top - 25
      }, 1000);
    }); 
        {% endfor %}

    {% else %}
        <p>No project is available.</p>
    {% endif %}




    </script>


  {% if project %}


    {% for sec in project.projectsection_set.all %}
          <div id="{{ sec.id2 }}" class="container">
            <h1>{{ sec.section_title }}</h1>
            <div class="grid_5-box">{{ sec.main_body }}</div>
          </div>
    {% endfor %}

{% else %}
    <p>No project is available.</p>
{% endif %}

</div>
</div>
</body>
</html>